{% extends './base.html' %}
{% load static %}

{% block title %}Add Employee{% endblock title %}

{% block styleSheets %}        
<link rel="stylesheet" href="{% static 'styles/index-style.css' %}" />
<link rel="stylesheet" href="{% static 'styles/form-style.css' %}">
{% endblock styleSheets %}

{% block scripts %}
<script src="{% static 'scripts/add-employee-form-submit.js' %}" defer="defer"></script>
{% endblock scripts %}

{% block body %}
<div class="form-container">
    <h2>Add Employee</h2>
    <form id="add-employee-form" action="{% url 'addEmployee' %}" method="post">
        {% csrf_token %}
        <div class="form-element">
            <label for="id">Employee ID<span aria-label="required">*</span></label>
            <input class="input-field" type="text" id="id" name="id" placeholder="20230000" required>
        </div>
        <div class="form-element">
            <label for="name">Name<span aria-label="required">*</span></label>
            <input class="input-field" type="text" id="name" name="name" placeholder="Monte Carlo" required>
        </div>
        <div class="form-element">
            <label for="mail">Email<span aria-label="required">*</span></label>
            <input class="input-field" type="email" id="mail" name="email" placeholder="email@gmail.com" required>
        </div>
        <div class="form-element">
            <label for="address">Address<span aria-label="required">*</span></label>
            <input class="input-field" type="text" id="address" name="address" placeholder="30 Ahmed Zewail - Dokki"
                    required>
        </div>
        <div class="form-element">
            <label for="phone">Phone Number<span aria-label="required">*</span></label>
            <input class="input-field" type="tel" id="phone" name="phoneNumber" placeholder="01003657364" required>
        </div>
        <div class="form-element">
            <label>Gender<span aria-label="required">*</span></label>
            <label for="gender-m">
                <input class="input-field" type="radio" id="gender-m" name="gender" value="male" required>
                Male
            </label>
            <label for="gender-f">
                <input class="input-field" type="radio" id="gender-f" name="gender" value="female" required>
                Female
            </label>
        </div>
        <div class="form-element">
            <label>Marital Status<span aria-label="required">*</span></label>

            <label for="marital-status-m">
                <input class="input-field" type="radio" id="marital-status-m" name="maritalStatus" value="married"
                        required>
                Married
            </label>
            <label for="marital-status-s">
                <input class="input-field" type="radio" id="marital-status-s" name="maritalStatus" value="single"
                        required>
                Single
            </label>
        </div>
        <div class="form-element">
            <label for="available-vacation-days">Available vacation days<span aria-label="required">*</span></label>
            <input class="input-field" type="number" id="available-vacation-days" name="availableVacationDays" min="0" max="90"
                    value="0" required>
        </div>
        <div class="form-element">
            <label for="approved-vacation-days">Approved vacation days<span aria-label="required">*</span></label>
            <input class="input-field" type="number" id="approved-vacation-days" name="approvedVacationDays" min="0"
                    max="90" value="0" required>
        </div>
        <div class="form-element">
            <label for="salary">Salary<span aria-label="required">*</span></label>
            <input class="input-field" type="tel" id="salary" name="salary" maxlength="6" required>
        </div>
        <div class="form-element">
            <label for="birth-date">Date of birth<span aria-label="required">*</span></label>
            <input class="input-field" type="date" id="birth-day" name="birthDay" required>
        </div>
        <div class="form-element">
            <button id="submit-btn" type="submit">Save</button>
            <a href="{% url 'searchEmployee' %}"><button type="button">Back</button></a>
        </div>
    </form>
</div> 
{% endblock body %}