{% extends './base.html' %}
{% load static %}

{% block title %}Add Employee{% endblock title %}

{% block styleSheets %}
<link rel="stylesheet" href="{% static 'styles/index-style.css' %}" />
<link rel="stylesheet" href="{% static 'styles/form-style.css' %}">
<style>

    .success {
        border-color: green;
    }

    .error {
        border-color: red;
    }

    .form-container input {
        padding: 10px;
        margin-bottom: 10px;
    }

    .form-container small {
        display: block;
        visibility: hidden;
    }
</style>
{% endblock styleSheets %}

{% block scripts %}
{% comment %} <script src="{% static 'scripts/add-employee-form-submit.js' %}" defer="defer"></script> {% endcomment %}
<script type="module" src="{% static 'scripts/add-employee-form-submit.js' %}" defer="defer"></script>
{% endblock scripts %}

{% block body %}
<div class="form-container">
    <h2>Add an Employee</h2>
    <form id="add-employee-form" action="{% url 'addEmployee' %}" method="post">
        {% csrf_token %}
        <div class="form-element">
            <label for="id">Employee ID<span aria-label="required">*</span></label>
            <input class="input-field" type="text" id="id" name="id" placeholder="HR0031" value =""  minlength="8" maxlength="8" required>
        </div>
        <div class="form-element">
            <label for="name">Name<span aria-label="required">*</span></label>
            <input class="input-field" type="text" id="name" name="name" placeholder="Monte Carlo" value ="" required>
        </div>
        <div class="form-element">
            <label for="email">Email<span aria-label="required">*</span></label>
            <input class="input-field" type="email" id="email" name="email" placeholder="email@host.com" required>
        </div>
        <div class="form-element">
            <label for="address">Address<span aria-label="required">*</span></label>
            <input class="input-field" type="text" id="address" name="address" placeholder="30 Ahmed Zewail - Dokki" value=""
                   required>
        </div>
        <div class="form-element">
            <label for="phoneNumber">Phone Number<span aria-label="required">*</span></label>
            <input class="input-field" type="text" id="phoneNumber" name="phoneNumber" placeholder="01003657364" pattern="[0-9]{11,11}" required>
        </div>
        <div class="form-element">
            <label>Gender<span aria-label="required">*</span></label>
            <label for="gender-m">
                <input class="input-field" type="radio" id="gender-m" name="gender" value="M" required>
                Male
            </label>
            <label for="gender-f">
                <input class="input-field" type="radio" id="gender-f" name="gender" value="F" required>
                Female
            </label>
        </div>
        <div class="form-element">
            <label>Marital Status<span aria-label="required">*</span></label>

            <label for="marital-status-m">
                <input class="input-field" type="radio" id="marital-status-m" name="maritalStatus" value="M"
                       required>
                Married
            </label>

            <label for="marital-status-s">
                <input class="input-field" type="radio" id="marital-status-s" name="maritalStatus" value="S"
                       required>
                Single
            </label>
        </div>
        <div class="form-element">
            <label for="availableVacationDays">Available vacation days<span aria-label="required">*</span></label>
            <input class="input-field" type="number" id="availableVacationDays" name="availableVacationDays" min="0" max="120"
                   value="" required>
        </div>
        <div class="form-element">
            <label for="approvedVacationDays">Approved vacation days<span aria-label="required">*</span></label>
            <input class="input-field" type="number" id="approvedVacationDays" name="approvedVacationDays" min="0"
                   max="90" value="0" required>
        </div>
        <div class="form-element">
            <label for="salary">Salary<span aria-label="required">*</span></label>
            <input class="input-field" type="number" id="salary" name="salary"  min="0" required>
        </div>
        <div class="form-element">
            <label for="birthDay">Date of birth<span aria-label="required">*</span></label>
            <input class="input-field" type="date" id="birthDay" name="birthDay" value="" required>
        </div>
        <div class="form-element">
            <button id="submit-btn" type="button">Save</button>
            <a href="{% url 'searchEmployee' %}"><button type="button">Back</button></a>
        </div>
        {% if errorMessage %}
        <p class="errorMessage">{{ errorMessage }}</p>
        {% endif %}
    </form>
</div>
{% endblock body %}