{% extends './base.html' %}
{% load static %}

{% block title %}Edit Employee{% endblock title %}

{% block styleSheets %}
<link rel="stylesheet" href="{% static 'styles/index-style.css' %}" />
<link rel="stylesheet" href="{% static 'styles/form-style.css' %}">
{% endblock styleSheets %}

{% block scripts %}
{% comment %} <script src="{% static 'scripts/edit-employee-onload.js' %}" defer="defer"></script> {% endcomment %}
{% endblock scripts %}

{% block body %}
<div class="form-container">
    <h2>Edit your employee</h2>
    {% if id %}
    <form id="edit-employee-form" action="{% url 'editEmployeeForm' id %}" method='post'>
        {% csrf_token %}
        {% for field in form %}
        <div class="form-element">
            <label for="{{ field.id_for_label }}">{{ field.label }}<span aria-label="required">*</span></label>
            {{ field }}
        </div>
        {% endfor %}
        <div class="form-element">
            <button id="save-btn" type="submit">Save</button>
            <a href="{% url 'searchEmployee' %}"><button id="cancel-btn" type="button">Cancel</button></a>
            <a href="{% url 'deleteEmployee' id %}"><button id="delete-btn" type="button">Delete Employee</button></a>
        </div>
        <p class="errorMessage">{{ errorMessage }}</p>
    </form>
    {% else %}
        <p class="errorMessage">{{ errorMessage }}</p>
        <a href="{% url 'searchEmployee' %}"><button id="cancel-btn" type="button">Back to Search</button></a>
    {% endif %}
</div>
{% endblock body %}