{% extends './base.html' %}
{% load static %}

{% block title %}Search{% endblock title %}

{% block styleSheets %}
<link rel="stylesheet" href="{% static 'styles/index-style.css' %}" />
<style>
#kilany {
    color: white;
    transition: 3s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#kilany:hover {
    transform:scale(100);
}

/* table styling  */
.full-table {
    background-color: white;
    padding: 25px;
}
</style>
<link rel="stylesheet" href="{% static 'styles/search-table-styling.css' %}">
{% endblock styleSheets %}

{% block scripts %}    
<script src="{% static 'scripts/search_table.js' %}" defer="defer"></script>
<script src="{% static 'scripts/search-employees-onload.js' %}" defer="defer"></script>
{% endblock scripts %}

{% block body %}
<header>
    <div id="company-header"><a href="{% url 'home' %}">Human Resources</a></div>
    <nav>
        <ul>
            <li id="left"><a href="{% url 'index' %}">HOME</a></li>
            <li><a href="{% url 'searchEmployee' %}">SEARCH EMPLOYEES</a></li>
            <li><a href="{% url 'vacations' %}">VACATIONS</a></li>
        </ul>
    </nav>
</header> 

<h2>Search for an Employee</h2>

<div class="full-table">
    <div class="above-table">
        <div class="search-box">
            <input class="input-bar" type="text" name="employee-data" placeholder="Search for an employee...">
            <i class="fa-solid fa-magnifying-glass"></i>
            <select class="search-by-options">
                <option value="0">ID</option>
                <option value="1" selected>Name</option>
                <option value="2">Email</option>
                <option value="3">Phone Number</option>
            </select>
        </div>
        <a href="{% url 'addEmployee' %}"><button name="add-employee"><i class="fa-solid fa-user-plus"></i> Add Employee</button></a>
    </div>
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th class="ID">ID</th>
                    <th class="name">Name</th>
                    <th class="email">Email</th>
                    <th class="phone-number">Phone Number</th>
                    <th class="action">Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
{% endblock body %}