{% extends './base.html' %}
{% load static %}

{% block title %}Vacation Form{% endblock title %}

{% block styleSheets %}
<link rel="stylesheet" href="{% static 'styles/index-style.css' %}" />
<link rel="stylesheet" href="{% static 'styles/form-style.css' %}">
<style>
    textarea {
        padding: 10px;
    }
</style>
{% endblock styleSheets %}

{% block scripts %}
{% comment %} <script src="{% static 'scripts/vacation-form.js' %}" defer="defer"></script> {% endcomment %}

<script type="module" src="{% static 'scripts/vacation-form-population.js' %}" defer="defer"></script>
{% endblock scripts %}

{% block body %}
<div class="form-container">
    <h2>Vacation Form</h2>
    <form id="vacation-form" action="">
        {% csrf_token %}
        <div class="form-element">
            <label for="id">Employee ID<span aria-label="required">*</span></label>
            <input id="id" type="text" value="" size="5px">
        </div>
        <div class="form-element">
            <label for="start-date">Starting Day<span aria-label="required">*</span></label>
            <input id="start-date" type="date" name="start-date" min="">
            <small id="start-date-error"> error message </small>
        </div>
        <div class="form-element">
            <label for="end-date">Ending Day<span aria-label="required">*</span></label>
            <input id="end-date" type="date" name="end-date" min="">
            <small id="end-date-error"> error message </small>
        </div>
        <div class="form-element">
            <label for="reason">Vacation Reason<span aria-label="required">*</span></label>
            <textarea id="reason" name="reason" placeholder="Type Your Reason Here!"></textarea>
            <small id="reason-error"> error message </small>
        </div>
        <br>
        <div class="form-element">
            <button id="submit-btn" type="button">Submit</button>
            <a href="{% url 'searchEmployee' %}"><button type="button">Back</button></a>
        </div>
    </form>
</div>
{% endblock body %}