{% extends './base.html' %}
{% load static %}

{% block title %}Vacation Form{% endblock title %}

{% block styleSheets %}
<link rel="stylesheet" href="{% static 'styles/index-style.css' %}" />
<link rel="stylesheet" href="{% static 'styles/form-style.css' %}">
{% endblock styleSheets %}

{% block scripts %}
<script src="{% static 'scripts/vacation-form.js' %}" defer="defer"></script>
{% endblock scripts %}

{% block body %}
<div class="form-container">
    <h2>Vacation Form</h2>
    <form id="vacation-form" action="{% url 'searchEmployee' %}">
        <div class="form-element">
            <label for="id">Employee ID</label>
            <input id="id" type="text" value="" size="5px" readonly>
        </div>
        <div class="form-element">
            <label for="start-date">Starting Day</label>
            <input id="start-date" type="date" name="start-date" min="" required>
            <span id="start-date-error" style="display: none">start date cannot be before today.</span>
        </div>
        <div class="form-element">
            <label for="end-date">Ending Day</label>
            <input id="end-date" type="date" name="end-date" min="" required>
            <span id="end-date-error" style="display: none"></span>
        </div>
        <div class="form-element">
            <label for="reason">Vacation Reason</label>
            <textarea id="reason" name="reason" placeholder="Type Your Reason Here!" minlength="100" maxlength="1000" required></textarea>
        </div>
        <br>
        <div class="form-element">
            <button id="submit-btn" type="submit">Submit</button>
            <a href="{% url 'searchEmployee' %}"><button type="button">Back</button></a>
        </div>
    </form>
</div>
{% endblock body %}