{% extends './base.html' %}
{% load static %}

{% block title %}Vacations{% endblock title %}

{% block styleSheets %}
<link rel="stylesheet" href="{% static 'styles/index-style.css' %}" />
<link rel="stylesheet" href="{% static 'styles/vacations-table-styling.css' %}">
{% endblock styleSheets %}

{% block scripts %}
<script src="{% static 'scripts/vacations-table-population.js' %}" defer="defer"></script>
{% endblock scripts %}
    

{% block body %}
<div class="topnav">
    <a href="{% url 'index' %}">HOME</a> 
    <a href="{% url 'searchEmployee' %}">SEARCH EMPLOYEES</a>
    <a href="{% url 'vacations' %}">VACATIONS</a>
</div>
<h2>Submitted Vacations List</h2>
<form id="temp-form" action="" method="PUT">
    {% csrf_token %}
</form>
<div class="full-table">
    <div class="above-table"></div>
    <div class="table-wrapper">
        
        <table>
            <thead>
                <tr>
                    <th class="ID">ID</th>
                    <th class="name">Name</th>
                    <th class="email">Email</th>
                    <th class="phone-number">Phone Number</th>
                    <th class="start-date">Start Date</th>
                    <th class="end-date">End Date</th>
                    <th class="reason">Reason</th>
                    <th class="action">Actions</th>
                </tr>
            </thead>
            <tbody> 
            </tbody>
        </table>
    </div>
</div>
<br />
{% endblock body %}