{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample University</title>
    
    <!-- style sheets -->
    <link rel="stylesheet" href="{% static 'styles/index-style.css' %}">
    <style>

    #kilany {
        color: white;
        transition: 5s ease-in;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
    }

    #kilany:hover {
        transform:scale(100);
    }
    </style>

    <!-- nav bar font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Ubuntu&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&family=Trirong&display=swap">
    
</head>
<body>
    <header>
        <div id="company-header"><a href="{% url 'index' %}">Sample University</a></div>
        <nav>
            <ul>
                <li id="left"><a href="{% url 'home' %}">HUMAN RESOURCES</a></li>
                <li><a href="#">STUDENTS AFFAIRS</a></li>
                <li><a href="#">HIGHER STUDIES</a></li>
                <li><a href="#">LABORATORY TRACKING</a></li>
            </ul>
        </nav>
    </header>

    <div id="kilany">
        Kilany
    </div>

    <!-- <footer>
        <p>Copy &copy; 2023. All rights reserved.</p>
    </footer> -->
</body>
</html>